/*! Add all base element styles into this style sheet */
h1 {
    font-family: $nexabold;
    letter-spacing: 0.1em;
}

h2 {
    font-family: $nexabold;
    letter-spacing: 0.05em;
    font-size: 2em;
    margin: 0;
}

p {
    font-family: $raleway;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    font-size: 14px;
    color: $navy;
}
