/*! Add all grid styles into this style sheet */
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

[class*="col-"]:after {
    content: ".";
    display: block;
    visibility: hidden;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
@media (max-width: 900px) {
    #main-content .imagesorter img {
        width: 100%;
        padding: 1em 0;
    }

    .citations{
      h1{
        text-align: center;
        font-size: 3em;
        padding-left:0;
      }

      h2{
        text-align: center;
      }
    }

    #intro h1 {
        padding: 1em 0 0;
        text-align: center;
        font-size: 3rem;
        padding: 0 1em;
        margin-top: 3em;
    }

    .welcome {
        .welcome-skills {
            text-align: center;
            width: 100%;
        }

        .jari-pic {
            text-align: center;
            order: 1;
        }

        .welcome-text {
            width: 100%;
            font-size: 80%;
            order: 2;
        }

        .jari-pic img {
            width: 80%;
            padding-top: 12em;
        }
    }

    #about {
        .about-flex {
            flex-direction: column;
            text-align: center;
            width: 100%;
        }

        h2 {
            text-align: center;
            padding: 1em;
        }

        .about-text {
            width: 85%;
            font-size: 80%;
        }
    }

    #work {
        h2 {
            text-align: center;
            padding: 0 1em;
        }

        .flex-pic img {
            width: 20%;
            margin-left: 3em;
            visibility: hidden;
        }

        .button-group {
            padding: 0 3em;
            text-align: center;
        }
    }

    #work-grid {
        .grid {
            padding: 0;
        }

        .grid-item {
            width: 40%;
        }
    }

    p {
        text-align: center;
    }
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    .content {
        h1 {
            font-size: 2.5rem;
        }

        hr {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .col-2 {
            width: 5%;
        }

        .col-3 {
            width: 90%;
            padding-top: 0;
            text-align: center;
        }

        .col-5 {
            width: 90%;
            text-align: center;
        }
    }
}
@media (max-width: 650px) {
    .navigation {
        float: none;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
    }

    ul {
        padding: 0;
    }
}
@media (max-width: 600px) {
    #work-grid {
        .grid-item {
            width: 90%;
        }
    }
}
