

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    background: $cream;
    z-index: 20;
}

.navigation {
    float: right;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: right;
    align-items: right;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;

    li {
        display: inline;
        padding: 0.5em;
    }

    a {
        display: inline;
        text-decoration: none;
        font-family: "nexa_bold", arial, sans-serif;
        color: $magenta;
        letter-spacing: 0.3em;
        font-size: 16px;
        padding: 1em 2em;
    }

    a:hover, a:focus{
      color: $olive;
       transition: .3s ease;
    }

}

.logo {
    float: left;
    max-width: 3em;
    padding: 0.5em;
}

#contact{
  background-color: $magenta;
  text-align: center;
  padding:5em;

  h2{
    color:$cream;
  }

  h3{
    color: $gold;
    font-family: $raleway;
    letter-spacing: 1px;
  }
}
