

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    background: $cream;
    z-index: 20;
}

.navigation {
    float: right;
    padding: 0.5em 3em;

    li {
        display: inline;
    }

    a {
        display: inline;
        text-decoration: none;
        font-family: "nexa_bold", arial, sans-serif;
        color: $magenta;
        letter-spacing: 0.3em;
        font-size: 16px;
        padding: 1em 2em;
    }

    a:hover, a:focus{
      color: $olive;
       transition: .3s ease;
    }

}

.logo {
    float: left;
    max-width: 3em;
    padding: 0.5em;
}
