body {
    /* feel free to change height */
    height: 5000px;
    background: linear-gradient( to bottom, $cream, $gold );
}

.proj-title {
    text-align: center;
}

.paper-container {
    padding-top: 5em;
    position: relative;

    img {
        position: absolute;
        margin-left: 10%;
        margin-top: 5%;
    }

    h1 {
        position: absolute;
        z-index: 3;
        text-align: center;
        color: $navy;
        left: 0;
        right: 0;
    }

    .tag-flex {
        position: absolute;
        text-align: center;
        margin-top: 20em;
        z-index: 3;
        left: 0;
        right: 0;
    }

    hr {
        position: absolute;
        background: transparent;
        border: 0;
        border-top: 3px dashed $cream;
        width: 70%;
        text-align: center;
        margin-top: 25rem;
        color: white;
        z-index: 3;
        left: 0;
        right: 0;
    }
}

.proj-intro-text {
    margin-left: -1em;
    text-align: center;
}

.basic-info {
    position: absolute;
    left: 0;
    right: 0;
    margin:2% 5%;
}

.details,
.proj-specs {
    z-index: 20;
}

.proj-specs{
  padding-right:1.5em;

}

.details{
border-left: 3px solid $cream;
 padding-left: 2em;
}
// .proj-specs{
//   position: absolute;
//   z-index: 3;
//   background: transparent;
// }
//
// .proj-info{
//   position: absolute;
//   z-index: 3;
//   background: transparent;
// }
