body {
    /* feel free to change height */
    height: 5000px;
    background: linear-gradient( to bottom, $cream, $gold );
}



.proj-title {
    text-align: center;
}

.paper-container {
    padding-top: 5em;
    position: relative;
    // img {
    //     position: relative;
    //
    //     text-align: center;
    //     height: auto;
    //     z-index: -5;
    //     margin-left: 2em;
    //     margin-top: 10em;
    // }
    h1 {
        position: absolute;
        z-index: 35;
        text-align: center;
        color: $navy;
        padding: 1em;
        margin-left: -1em;
        z-index: 1;
        width: 110%;
    }

    .tag-flex {
        position: absolute;
        text-align: center;
        width: 90%;
        margin-top: 15em;
    }

    hr {
        position: absolute;
        border-top: 3px dashed $cream;
        width: 70%;
        text-align: center;
        margin-top: 20em;
        color: white;
        margin-left: 5em;
    }
}

.proj-intro-text {
    margin-left: -1em;
    text-align: center;
}
