body {
    /* feel free to change height */
    height: 5000px;
    background: linear-gradient( to bottom, $cream, $gold );
}

.proj-title {
    text-align: center;
}

.paper-container {
    padding-top: 5em;
    position: relative;

    img {
        position: absolute;
        margin-left: 10%;
    }

    h1 {
        position: absolute;
        z-index: 3;
        text-align: center;
        color: $navy;
        left: 0;
        right: 0;
    }

    .tag-flex {
        position: absolute;
        text-align: center;
        margin-top: 20em;
        z-index: 3;
        left: 0;
        right: 0;
    }

    hr {
        position: absolute;
        background: transparent;
        border-top: 3px dashed $cream;
        width: 70%;
        text-align: center;
        margin-top: 25rem;
        color: white;
    z-index: 3;
    left: 0;
    right: 0;
    }
}

.proj-intro-text {
    margin-left: -1em;
    text-align: center;
}
