/*! Add all variables into this style sheet */

$navy: #222533;
$magenta: #492939;
$pink: #A63A41;
$gold: #FBB03B;
$olive: #76BA24;
$cream: #F5EBE4;

$body-bg: transparent;

$raleway: "raleway", arial, sans-serif;
$league:  "league_spartan", arial, sans-serif;
$nexabold: "nexa_bold", arial, sans-serif;
$nexathin: "nexa_thin", arial, sans-serif;
$opensans: "open_sanslight", arial, sans-serif; 
